html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Raleway', sans-serif;
}

h1{
    display:flex;
    align-items: center;
    font-size: 96px;
    margin-top: 0px;
    margin-bottom: 0px;
    block-size: 79px;
    padding:0px;
    color: #1e1e1e;
    font-weight:lighter;
    font-family: 'Fredericka the Great', serif;
    -webkit-text-stroke: 0.6px;
    letter-spacing:-8.5px;
    background: linear-gradient(to top, #FCBF38 73%, transparent 27%);
}
h2{
    display:flex;
    align-items: center;
    font-size: 64px;
    margin-top: 0px;
    margin-bottom: 0px;
    block-size: 55px;
    padding:0px;
    color: #1e1e1e;
    font-weight:lighter;
    font-family: 'Fredericka the Great', serif;
    -webkit-text-stroke: 0.6px;
    letter-spacing:0px;
    background: linear-gradient(to top, #FCBF38 73%, transparent 27%);
}
h3{
    display:flex;
    align-items: center;
    font-size: 48px;
    margin-top: 0px;
    margin-bottom: 0px;
    block-size: 50px;
    padding:0px;
    color: #1e1e1e;
    font-weight:lighter;
    font-family: 'Fredericka the Great', serif;
    -webkit-text-stroke: 0.6px;
    letter-spacing:0px;
    background: linear-gradient(to top, #FCBF38 73%, transparent 27%);
    margin-bottom: 10px;
}

h4{
    display:flex;
    align-items: center;
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    /* block-size: 79px; */
    padding:0px;
    color: #1e1e1e;
    font-weight:lighter;
    font-family: 'Fredericka the Great', serif;
    -webkit-text-stroke: 0.6px;
    letter-spacing:0px;
    /* background: linear-gradient(to top, #FCBF38 73%, transparent 27%); */
}

h5{
    font-size: 220px;
    color:#FCE3AD;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -23.1px;
    font-family: 'Raleway', sans-serif;
    margin:0px;
    border:0px;
}

h6{
    font-size: 48px;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
}


.R1 {
    font-size: 34px;
    color: #1e1e1e;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
}

.R2 {
    font-size: 34px;
    color: #1e1e1e;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}

.R3 {
    font-size: 34px;
    color: #1e1e1e;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
}

.R4 {
    font-size: 24px;
    color: #1e1e1e;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
}

.R5 {
    font-size: 24px;
    color: #1e1e1e;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}

.R6 {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 600;
    padding-top: 0px;
    padding-bottom: 0px;
}

.R7 {
    font-size: 24px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    border:0px;
    margin:0px;
    font-style: normal;
    line-height: normal;
}

.R8 {
    font-size: 20px;
    color: #1e1e1e;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
}

.R9 {
    font-size: 20px;
    color: #1e1e1e;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}

.R10 {
    font-size: 20px;
    color: #1e1e1e;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}
.R11 {
    font-size: 20px;
    color: #1e1e1e;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}

.R12 {
    font-size: 16px;
    color: #1e1e1e;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
}
.R13{
    font-size: 32px;
    color: #1e1e1e;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
}
p { 
    font-size: 16px;
    color: #1e1e1e;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 0rem;
}
.Italic{
    font-style: italic;
}
.white {
    color: #ffffff !important;
}
.black {
    color:#1e1e1e !important;
}
.yellow {
    color:#FCBF38 !important;
}
.bg-primary{
    background-color:#4F7DDD !important;
}

.logo {
    margin-left: 51px;
}
.logoHover{
    margin-left: 51px;
    display:none;
}

.mylist-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.underline{
    position: absolute;
    margin-top: 30px;
    display: none;
    
}
.navbar{
background-color: #1e1e1e !important;
height: 90px;
width:100%;
justify-content: space-between !important;
}
.navbar a{
    color: white !important;
}
.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
}
li{
    /* padding:20px; */
    color:white !important;
    font-family: 'raleway', sans-serif;
    font-size: 24px;
    /* max-width: 120px; */
    align-self: center;
    cursor: pointer;
    /* box-sizing: none; */
}

.jumbotron {
    padding-top: 2rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    padding-right: 0rem;
    margin-bottom: 356px;
    background-color:white;
    border-radius: 0.3rem;
}
.heroContent{
    padding-left: 3rem;
    width:auto;
    max-width: 900px;
    margin-right: 600px;
}
.Toptitle{
    margin-bottom: 30px;
}

.dblue{
    background-color: #3568D4;
    margin-left: 0%;
    margin-right: 0%;
    width: 100%;
    padding: 1rem;
    position: absolute;
}
.btn-primary{
    background-color: transparent;
    border: none;
    margin-left: 10px;
}
.btn-primary:hover {
    background-color: transparent;
    border: none;
    margin-left: 10px;
}
button{
    background-color: transparent;
    border: none;
}
.heroButtonD{
    display:block;
 }

.heroButtonHoverD{
    display:none;
}
.des1{
    width:431px;
    float:left;
    margin-top: 3rem;
}
.des1text{
    margin-left: 2rem;
    margin-bottom: 0.5rem;
}
.heroContent{
    margin-top: 30px;
    margin-bottom: 30px;
    width:fit-content;
}
.heroImg{
    position:relative;
    z-index:0;
    margin-top:-350px;
    margin-left: 50%;
}
.projectInfo{
    background-color: #4F7DDD;
}
.cardcontainer{
    margin-top:13px;
    margin-bottom: 0px;
}
.card{
    border:0px;
}
.whiteundr{
    max-width: 319px;
    width: auto;
    margin-top: -34px;
    margin-bottom: -10px;
}
.pro1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap:wrap;
    width: 100%;
    margin-top: -50px;
    margin-bottom: -50px;
}
.prcsimg{
    width: 100%;
    max-width: 203px;
}
section{
    margin-left: 3rem;
    margin-right: 3rem;
}
.secHeads{
    position: relative;
    margin-bottom: -88px;
    z-index: -1;
}
.content{
    max-width: 433px;
    width: auto;
    text-align: left;
}
.InterviewImages{
    display: flex;
    flex-direction: row;
}
.intInsImg{
    max-width: 315px;
    width: auto;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}
.stakeholderImg{
    max-width: 319px;
    width: auto;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 10px;
}
.StakeholderMB{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 15px;
    margin-bottom: 20px;
}
.StkInfo{
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 319px;
    width: auto;
}
.stkquotes{
    display: flex;
    flex-direction: column;
    max-width: 393px;
    justify-content: space-around;
}
.AuditImages{
    display: flex;
    flex-direction: row;
    height: fit-content;
    padding-top: 15px;
    padding-bottom: 15px;
}
.audimagesA{
    display:flex;
    flex-direction: row;
}
.audimagesB{
    display: flex;
    flex-direction: row;
}
.auditImg1{
    max-width: 572px;
    max-height: 381px;
    width: auto;
    height: auto;

}
.auditImg2{
    max-width: 432px;
    max-height: 435px;
    width: auto;
    height: auto;
    margin-top: 70px;
    margin-left: -283px;
}
.auditImg3{
    width: 432px;
    height: 1125px;
    max-width: auto;
    max-height: auto;
    margin-top: 106px;
    margin-left: -256px;
}
.auditImg4{
    width: 410px;
    height: 937px;
    max-width: auto;
    max-height: auto;
    margin-top: 106px;
    margin-left: 20px;
}
.CompetitorImages{
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.comptext{
    display: flex;
    flex-direction: column;
    z-index: 1;
    margin-bottom: -120px;
}
.T1{
    position: relative;
    margin-left: 350px;
    width: fit-content;
    margin-top: 50px;
}
.T2{
    position: relative;
    margin-left:650px;
    width: fit-content;
    margin-top: 50px;
}
.T3{
    position: relative;
    margin-left:920px;
    width: fit-content;
    margin-top: 50px;
}
.competitorscreens{
    z-index: 0;
    max-width: 100%;
}
.yspan{
    z-index: -1;
    width: 100%;
    margin-top: -22.6%;
}
.UserPersona{
    margin-top: 30px;
}
.personaInfo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.PersonaMB{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 693px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.PersonaImg{
    max-width: 232px;
    width: auto;
}
.FvE{
    max-width: 468px;
}
.FEsub{
    max-width: 433px;
}
.FnEInfo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.FnE{
    display: flex;
    flex-direction: column;
    max-width: 417px;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}
.FrustImg{
    max-width: 417px;
}
.definehead{
    z-index: 1;
}
.defineProb{
    background-color: #1e1e1e;
}
.defineSol{
    background-color: #FCBF38;
}
.Prob{
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.Sol{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.SB{
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: 1107.54px;
    min-width: 220px;
    width: 100%;
}
.UF{
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: 1330px;
    min-width: 220px;
    width: 100%;
}
.StyleGuideImagesParent{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}
.photography{
    max-width: 601px;
    width: 100%;
    min-width: auto;
}
.SGimgB{
    display: flex;
    flex-direction: column;
    max-width: 240px;
    width: 100%;
    margin-left: -20px;
    margin-top: -50px;
}
.donateBtn{
    max-width: 208px;
    min-width: auto;
    width: 100%;
}
.fork{
    max-width: 240px;
    width: 100%;
    min-width: auto;
    margin-top: 30px;
}
.SGimgC{
    display: flex;
    flex-direction: column;
    max-width: 471px;
    width: 100%;
    margin-left: 20px;
    margin-top: -200px;
    
}
.logoClr{
    max-width: 471px;
    width: 100%;
}
.infographics{
    max-width: 432px;
    width: 100%;
    margin-top: 25px;
}
.WF{
    width: 100%;
    margin-top: 25px;
    margin-bottom: 20px;
}
.UT1{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 20px;
}
.oldNew{
    display: flex;
    flex-direction: column;
    max-width: 944px;
    width: 100%;
    margin-left: 3rem;
}
.WFold{
    max-width: 944px;
    width: 100%;
}
.WFnew{
    margin-top: 20px;
    max-width: 944px;
    width: 100%;
}
.WFscreen{
    margin-right: 0px;
    max-width: 429px;
    width: 100%;
    height: 100%;
    max-height:509px;
}
.UT2{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 1336px;
}
.Dform{
    display: flex;
    flex-direction: row;
    max-width: 771px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.donNow{
    max-width: 260px;
    max-height: 510px;
    width: 100%;
}
.success{
    max-width: 303px;
    width: 100%;
}
.ABtest{
    max-width: 526px;
    width: 100%;
}
.UT2insights{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 15px;
}
.insightsblocks{
    display: flex;
    flex-direction: row;
}
.insightsA{
    display: flex;
    flex-direction: column;
    padding:5px;
}
.insImg{
    max-width: 432px;
    width: 100%;
    padding: 10px;
}
.befAft{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.BnAimages{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: left;
    max-width: 884px;
    width: 100%;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}
.bnaImg{
    max-width: 1024px;
    width: 100%;
    margin-top: -100px;
}
.curlyArrow{
    margin-left: 400px;
    margin-top: -200px;
}
.cArrow{
    max-width: 298.43px;
    width: 100%;
    margin-left: 726px;
    margin-top: -60px;
    margin-bottom: -150px;
}
.nextSteps{
    background-color: #FCBF38;
    border:4px solid #1e1e1e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    box-shadow: 5px 5px lightgray;
}
.NStext{
    text-align: left;
    margin: 5px;
    padding: 5px;
    margin-top: 20px;
}
.NST{
    margin: -10px;
}
footer{
    display:flex;
    flex-direction: row;
    padding-top: 27px;
    padding-bottom: 27px;
    background-color: #1e1e1e;
    width:100%;
    Height:215px;
    margin-top: 30px;
}
.footerTitle{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: 165px;
    margin-top: 13px;
}
.footerul{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0px;
}

.FT1{
    display:flex;
    flex-direction: row;
    white-space:nowrap;
    margin:0px;
}
.FT2{
    display:flex;
    flex-direction: row;
    margin:0px;
    padding-left:10px;
}
nav ul{
    display:flex;
    /* float:right; */
    flex-direction: column;
    text-align: center;
}

.ulBottom{
    display: flex;
    flex-direction: row;
    margin:0px;
    max-width:373px;
    width: 100%;
    height:161px;
    padding-left: 285px;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}
.Loctext{
    flex-direction: row;
    margin:0px;
    margin-left:10px;
    width:327px;
    white-space:nowrap;
    cursor:default;
}
.Locicon{
    width:24.75px;
    height:29px;
}

.Mailtext{
    flex-direction: row;
    margin:0px;
    margin-left:10px;
    width:327px;

}
.Mailicon{
    width:32px;
    height:22.61px;
}

.Linkedintext{
    display:inline;
    flex-direction: row;
    margin:0px;
    margin-left:10px;
    width:327px;
    white-space:nowrap;

}
.Lkdnicon{
    width:30.25px;
    height:25.76px;
}

@media only screen and (max-width:1200px) and (min-width:600px){
    footer{
        display:flex;
        flex-direction: column;
        padding-left:0px;
        padding-right:0px;
        background-color: #1e1e1e;
        width:auto;
        Height:auto;
        justify-content: center;
    }
    .footerTitle{
        display: flex;
        flex-direction: row;
        justify-content: left;
        padding-left: auto;
        padding-right: auto;
        padding-top: 13px;
    }
    .footerul{
        display:flex;
        align-items: center;
        padding-top: 0px;
    }
    
    .FT1{
        display:flex;
        flex-direction: row;
        margin:0px;
    }
    .FT2{
        display:flex;
        flex-direction: row;
        margin:0px;
        padding-left:10px;
    }
    ul{
        display:flex;
        /* float:right; */
        flex-direction: column;
    }
    .ulBottom{
        margin:0px;
        width:308px;
        height:161px;
        padding-left: auto;
        padding-right: auto;
        padding-top: 10px;
        display:flex;
        justify-content: flex-start;
    }
}
@media only screen and (max-width:600px) and (min-width:320px){
    h1{
        font-size: 64px;
        block-size: 55px;
        letter-spacing:-8.5px;
    } 
    h2{
        font-size:40px;
        block-size: auto;
        text-align:center;
        text-wrap:balance ;
        line-height: 40px;
        inline-size:330px;
        justify-content: center;
        align-items: center;
    }
    h3{
        font-size: 28px !important;
        text-wrap: nowrap;
        margin-top: 0px;
        margin-bottom: 0px;
        block-size: 28px;
        padding:0px;
        color: #1e1e1e;
        -webkit-text-stroke: 0.2px;
        margin-bottom: 10px;
    }
    
    h4{
        display:flex;
        align-items: center;
        font-size: 22px;
        margin-top: 0px;
        margin-bottom: 0px;
        /* block-size: 79px; */
        padding:0px;
        -webkit-text-stroke: 0.2px;
    }
    h5{
        font-size: 100px;
        letter-spacing: -10.5px;
    }
    h6{
        font-size: 40px;
    }
    .R1 {
        font-size: 20px;
    }
    .R2 {
        font-size: 20px;
    }
    .R3 {
        font-size: 20px;
    }
    .R4 {
        font-size: 18px;
    }
    .R5 {
        font-size: 18px;
    }
    .R6 {
        font-size: 18px;
    }
    .R7 {
        font-size: 18px;
    }
    .R8{
        font-size: 16px;
    }
    .R9{
        font-size: 16px;
    }
    .R10{
        font-size: 16px;
    }
    .R11{
        font-size: 16px;
    }
    .R12{
        font-size: 16px;
    }
    .R13{
        font-size: 19px;
    }
    .logo {
        margin-left: 18px;
        width:51px;
        padding-bottom: 5px;
    }
    .logoHover {
        margin-left: 18px;
        width:51px;
        padding-bottom: 5px;
    }
    /* .navigation{
        height: 90px;
        display:flex;
        align-items:end;
        justify-content: space-between;
        }
     .navigation ul {
           display: none;
        } */
    .menu{
        display: flex;
        width:40px;
        color:white;
        margin-right: 18px;
        cursor: pointer;
        padding-bottom: 12px;
    }
    .jumbotron {
        padding-top: 1rem;
        padding-bottom: 0rem;
        padding-left: 0rem;
        padding-right: 0rem;
        margin-bottom: 356px;
        background-color:white;
        border-radius: 0.3rem;
    }
    .heroContent{
        padding-left: 2rem;
        width:auto;
        max-width: 900px;
        margin-right: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        width:fit-content;
    }
    .Toptitle{
        margin-bottom: 18px;
    }
    
    .dblue{
        background-color: #3568D4;
        margin-left: 0%;
        margin-right: 0%;
        width: 100%;
        padding: 1rem;
        position: absolute;
        margin-top: 200px;
    }
    .btn-primary{
        background-color: transparent;
        border: none;
        margin-left: 10px;
    }
    .btn-primary:hover {
     display:none;
    }
    button{
        background-color: transparent;
        border: none;
    }
    /* .heroButtonD{
        display:block;
     } */
    
    .heroButtonHoverD{
        display:none;
    }
    .des1{
        width:431px;
        float:left;
        margin-top: 3rem;
    }
    .des1text{
        margin-left: 2rem;
        margin-bottom: 0.5rem;
    }
    
    .heroImg{
        position:relative;
        z-index:0;
        margin-top:-650px;
        margin-left: 0%;
        max-width:100%;
    }
    .projectInfo{
        background-color: #4F7DDD;
    }
    .cardcontainer{
        margin-top:70px;
        margin-bottom: -100px;
        display: flex;
        justify-content: center;
    }
    .topcard{
        margin-top:150px;
        margin-bottom: -100px;
    }
    .bottomcard{
        margin-bottom: 0px;
    }
    .card{
        border:0px;
        display: flex;
        justify-content: center;
    
    }
    .whiteundr{
        max-width: 319px;
        width: 100%;
        margin-top: -34px;
        margin-bottom: -10px;
    }
    .card-body{
        text-align: center;
    }
    .pro1{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap:wrap;
        width: 100%;
        margin-top: -50px;
        margin-bottom: -50px;
    }
    .prcsimg{
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
        max-width: 80px;
    }
    section{
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .secHeads{
        position: relative;
        margin-bottom: -40px;
        z-index: -1;
    }
    .content{
        max-width: 433px;
        width: auto;
        text-align: left;
    }
    .InterviewImages{
        display: flex;
        flex-direction: column;
    }
    .intInsImg{
        max-width: 200px;
        width: 100%;
        margin: auto;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .stakeholderImg{
        max-width: 200px;
        width: auto;
        margin: auto;
        margin-top: 15px;
        margin-bottom: 10px;
    }
    .StakeholderMB{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
        margin-bottom: 20px;
    }
    .StkInfo{
        display: flex;
        flex-direction: column;
        text-align: center;
        max-width: 319px;
        width: auto;
    }
    .stkquotes{
        display: flex;
        flex-direction: column;
        max-width: 393px;
        margin-top: 1rem;
        
    }
    .sSaid{
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
    }
    .AuditImages{
        display: flex;
        flex-direction: column;
        height: fit-content;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .audimagesA{
        display:flex;
        flex-direction: column;
    }
    .audimagesB{
        display: flex;
        flex-direction: column;
    }
    .auditImg1{
        max-width: 572px;
        max-height: 381px;
        width: auto;
        height: auto;
    
    }
    .auditImg2{
        max-width: 432px;
        max-height: 435px;
        width: auto;
        height: auto;
        margin-top: 20px;
        margin-left: auto;
    }
    .auditImg3{
        width: 432px;
        height: 1125px;
        max-width: auto;
        max-height: auto;
        margin-top: 20px;
        margin-left: auto;
    }
    .auditImg4{
        width: 410px;
        height: 937px;
        max-width: auto;
        max-height: auto;
        margin-top: 20px;
        margin-left: auto;
    }
    .CompetitorImages{
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;
        flex-direction: column;
    }
    
    .comptext{
        display: flex;
        flex-direction: column;
        z-index: 1;
        margin-bottom: -30px;
    }
    .T1{
        position: relative;
        margin-left: 50px;
        width: fit-content;
        margin-top: 50px;
    }
    .T2{
        position: relative;
        margin-left:180px;
        width: fit-content;
        margin-top: 20px;
    }
    .T3{
        position: relative;
        margin-left:280px;
        width: fit-content;
        margin-top: 20px;
    }
    .competitorscreens{
        z-index: 0;
        max-width: 100%;
    }
    .yspan{
        z-index: -1;
        width: 100%;
        margin-top: -22.6%;
    }
    .UserPersona{
        margin-top: 30px;
    }
    .personaInfo{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .PersonaMB{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 693px;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .PersonaImg{
        max-width: 232px;
        width: auto;
    }
    .FvE{
        max-width: 468px;
    }
    .FEsub{
        max-width: 433px;
    }
    .FnEInfo{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .FnE{
        display: flex;
        flex-direction: column;
        max-width: 200px;
        align-items: center;
        margin-left: 10px;
        margin-right: 10px;
    }
    .FrustImg{
        min-width: 207px;
        width: 100%;
    }
    .definehead{
        z-index: 1;
    }
    .defineProb{
        background-color: #1e1e1e;
    }
    .defineSol{
        background-color: #FCBF38;
    }
    .Prob{
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
    .Sol{
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    .SB{
        margin-top: 15px;
        margin-bottom: 15px;
        max-width: 1107.54px;
        min-width: 220px;
        width: 100%;
    }
    .UF{
        margin-top: 15px;
        margin-bottom: 15px;
        max-width: 1330px;
        min-width: 220px;
        width: 100%;
    }
    .StyleGuideImagesParent{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
        justify-content: center;
        align-items: center;
    }
    .photography{
        max-width: 601px;
        width: 100%;
        min-width: auto;
    }
    .SGimgB{
        display: flex;
        flex-direction: column;
        max-width: 240px;
        width: 100%;
        margin-left: 0px;
        margin-top: 0px;
    }
    .donateBtn{
        max-width: 208px;
        min-width: auto;
        width: 100%;
        margin-top: 20px;
    }
    .fork{
        max-width: 240px;
        width: 100%;
        min-width: auto;
        margin-top: 30px;
    }
    .SGimgC{
        display: flex;
        flex-direction: column;
        max-width: 471px;
        width: 100%;
        margin-left: 20px;
        margin-top: 25px;
        
    }
    .logoClr{
        max-width: 471px;
        width: 100%;
    }
    .infographics{
        max-width: 432px;
        width: 100%;
        margin-top: 25px;
    }
    .WF{
        width: 100%;
        margin-top: 25px;
        margin-bottom: 20px;
    }
    .UT1{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 15px;
        margin-bottom: 20px;
    }
    .oldNew{
        display: flex;
        flex-direction: column;
        max-width: 944px;
        width: 100%;
        margin-left: 0rem;
        margin-bottom: 20px;
    }
    .WFold{
        max-width: 944px;
        width: 100%;
    }
    .WFnew{
        margin-top: 20px;
        max-width: 944px;
        width: 100%;
    }
    .WFscreen{
        margin-right: -100px;
        max-width: 600px;
        width: 100%;
        height: 100%;
        max-height:800px;
    }
    .UT2{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
        max-width: 1336px;
    }
    .Dform{
        display: flex;
        flex-direction: column;
        max-width: 771px;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
    .donNow{
        max-width: 260px;
        max-height: 510px;
        width: 100%;
        margin-top: 20px;
    }
    .success{
        max-width: 303px;
        width: 100%;
        margin-top: 20px;
    }
    .ABtest{
        max-width: 526px;
        width: 100%;
        margin-top: 20px;
    }
    .UT2insights{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 25px;
        margin-bottom: 15px;
    }
    .insightsblocks{
        display: flex;
        flex-direction: column;
    }
    .insightsA{
        display: flex;
        flex-direction: column;
        padding:5px;
    }
    .insImg{
        max-width: 432px;
        width: 100%;
        padding: 10px;
    }
    .befAft{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .BnAimages{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: left;
        max-width: 884px;
        width: 100%;
        text-align: left;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .bnaImg{
        max-width: 1024px;
        width: 100%;
        margin-top: -50px;
    }
    .curlyArrow{
        margin-left: 20px;
        margin-top: -200px;
    }
    .cArrow{
        max-width: 145px;
        width: 100%;
        margin-left: auto;
        margin-top: 20px;
        margin-bottom: 0px;
    }
    .nextSteps{
        background-color: #FCBF38;
        border:4px solid #1e1e1e;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: left;
        box-shadow: 5px 5px lightgray;
    }
    .NStext{
        text-align: left;
        margin: 5px;
        padding: 5px;
        margin-top: 20px;
        margin-left: 1rem;
    }
    .NST{
        margin: -10px;
    }
    footer{
        display:flex;
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: #1e1e1e;
        width:100%;
        Height:auto;
        margin-top: 30px;
        justify-content: center;
    }
    footer{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footerTitle{
        display: flex;
        flex-direction: row;
        justify-content: left;
        margin-left:0px ;
        margin-top: 13px;
    }
    .footerul{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 0px;
        padding-left: 0px;
        margin-left: 0px;
    }
    
    .FT1{
        display:flex;
        flex-direction: row;
        white-space:nowrap;
        margin:0px;
    }
    .FT2{
        display:flex;
        flex-direction: row;
        margin:0px;
        padding-left:auto;
    }
    .ulBottom{
        display: flex;
        flex-direction: row;
        margin:0px;
        max-width:373px;
        width: 100%;
        height:auto;
        padding-left: 0px;
        align-items: center;
        margin-top: 20px;
    }
    .Loctext{
        flex-direction: row;
        margin:0px;
        margin-left:10px;
        width:auto;
        white-space:nowrap;
        cursor:default;
    }
    .Locicon{
        width:24.75px;
        height:29px;
    }
    
    .Mailtext{
        flex-direction: row;
        margin:0px;
        margin-left:10px;
        width:auto;
    
    }
    .Mailicon{
        width:28px;
        height:22.61px;
    }
    
    .Linkedintext{
        display:inline;
        flex-direction: row;
        margin:0px;
        margin-left:10px;
        width:auto;
        white-space:nowrap;
    
    }
    .Lkdnicon{
        width:30.25px;
        height:25.76px;
    }

}

